//cards.less

.card {
  margin-top: 35px;
  .card-header {
    padding: 15px 0;
    height: 80px;
  }

  @media (min-width: @screen-sm-min) {
    .card-header {
      height: 100px;
    }
  }
  &.card-feed {
    .card-header {
      img {
        width: 80%;
        max-width: 350px;
        margin: 0 auto;
      }
    }
  }

  &.media-card {
    margin-top: 45px;
    .media-img {
      position: relative;
      img {
        width: 100%;
      }
      .cat-label {
        position: absolute;
        top: auto;
        left: auto;
        right: 0;
        bottom: 0;
        background-color: @brand-primary;
        color: white;
        padding: 5px 15px;
      }
    }
    .media-content {
      .heading {
        font-size: 18px;
      }
      .excerpt {
        color: white;
        margin-bottom: 20px;
      }
    }
  }

  &.card-faq {
    @graphic-width: 60px;

    border-top: 2px solid white;
    padding-top: 30px;
    margin-bottom: 30px;

    .faq-graphic {
      min-width: @graphic-width;
      min-height: @graphic-width;
      background-color: @brand-primary;
      position: relative;
      text-align: center;
      float: left;
      span {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        .translate(-50%, -55%);
        font-size: 32px;
      }
    }
    .faq-content {
      width: calc(~"100% - @{graphic-width}");
      float: left;
      .question {
        font-size: 18px;
        text-transform: none;
        margin-top: 0;
        width: 85%;
        position: relative;
        &:after {
          content: '\f078';
          font-family: FontAwesome;
          color: white;
          position: absolute;
          right: -20%;
          left: auto;
          top: 50%;
          transform: translateY(-50%);
          transform-origin: center center;
          transition: all 0.25s ease-in-out;
        }
        &[aria-expanded="false"] {
          &:after {
            transform: rotate(0deg);
          }
        }
        &[aria-expanded="true"] {
          &:after {
            transform: rotate(-180deg);
          }
        }
      }
      .answer {
        font-size: 16px;
        color: white;
      }

      @media (min-width: 600px) {
        .question {
          width: 100%;
          &:after {
            display: none;
          }
        }
        .answer {
          display: block;
        }
      }
    }

    &:after {
      content: " ";
      display: block;
      clear: both;
    }


    @media (min-width: @screen-md-min) {
      min-height: 250px;
      border-top: 0;
      padding-top: 0;
    }
    @media (min-width: @screen-lg-min) {
      min-height: 200px;
    }
  }
}

//specific mobile styling for contact card
#contact-home {
  background-color: @gray-med;
  padding-bottom: 15px;
  .card-header {
    display: table-cell;
    vertical-align: bottom;
    &.center {
      vertical-align: middle;
    }
  }

  @media (min-width: @screen-sm-min) {
    background-color: transparent;
    padding-bottom: 0;
  }
}