//variables.less

//colors
@brand-primary: #00adec;

//shades
@gray-dark: #232323;
@gray-med: #242424;
@gray-light: #adadad;  

//measurements
@max-container-width: 1600px;

//carousel
@indicator-size: 10px;